<?php

$fileHeaderComment = <<<COMMENT
This file is part of the App Insights PHP project.

(c) Norbert Orzechowicz <norbert@orzechowicz.pl>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
COMMENT;

$finder = PhpCsFixer\Finder::create()
    ->in([__DIR__ . '/']);

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit48Migration:risky' => true,
        'php_unit_no_expectation_annotation' => false,
        'array_syntax' => ['syntax' => 'short'],
        'protected_to_private' => false,
        'header_comment' => ['header' => $fileHeaderComment, 'separate' => 'both'],
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder);